<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Tarefas</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <h1>Gerenciamento de Tarefas</h1>
        <nav>
            <a href="#cadastro-usuario">Cadastro Usuário</a>
            <a href="#cadastro-tarefa">Cadastro Tarefas</a>
        </nav>
    </div>

    <!-- Elemento para mensagens de erro -->
    <div id="error-message" style="color: red; display: none;"></div>


    <!-- Cadastro Usuário -->
    <section id="cadastro-usuario">
        <h2>Cadastro Usuário</h2>
        <form id="form-cadastro-usuario">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required>
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            
            <button type="submit">Cadastrar</button>
        </form>
    </section>

    <!-- Cadastro de Tarefas -->
    <section id="cadastro-tarefa">
        <h2>Cadastro de Tarefas</h2>
        <form id="form-cadastro-tarefa">
            <label for="descricao">Descrição</label>
            <input type="text" id="descricao" name="descricao" required>
            
            <label for="id-usuario-tarefa">ID Usuário</label>
            <input type="text" id="id-usuario-tarefa" name="id-usuario-tarefa" required>
            
            <button type="submit">Cadastrar</button>
        </form>
    </section>

    <script src="app.js"></script>
</body>
</html>
