/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    background-color: #7c6deb;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.navbar nav a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Formulários */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

form button {
    padding: 10px;
    background-color: #7c6deb;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #5a4ab5;
}

#error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
